<div class="app-header">
  <h1>Happy Home Living</h1>
</div>

<section class="tos-pp-page">
  <div id="tos-content">
    <h2>Notkunarskilmálar</h2>

    <p>
      <i>Forritið</i>
      <br>
      Happy Home Living er forrit fyrir fólk sem býr saman. Það skiptir ekki máli hvort það eru tveir eða fleiri sem búa saman. Forritið hentar fjölskyldum, vinum, herbergisfélögum, hjónum og pörum. Markmið forritsins er að gera heimilið skipulagðara með því að bjóða upp á sameiginleg verkefni, dagatal/áætlun, innkaupalista og möguleika á samskiptum án þess að senda skilaboð um smáatriði. Hægt er að bæta við stuttum athugasemdum við verkefni eða tilkynna til dæmis seinkun frá vinnu. Á þennan hátt verður auðveldara að skipuleggja sameiginlegt heimili, hjálpast að og halda sér upplýstum.
      <br>Athugið: Happy Home Living er enn í þróun og er aðeins frumgerð.
      <br><br>

      <i>Notendur</i>
      <br>
      Til að nota forritið og eiginleika þess þarf hver notandi að búa til sinn eigin aðgang. Þetta gerir notendum kleift að tengjast hver öðrum án þess að allir lendi sjálfkrafa í sama heimili.
      Notandinn ber sjálfur ábyrgð á virkni sinni í forritinu, því sem hann birtir og hverjum hann býður inn á sitt heimili.
      Einnig er mikilvægt að notandinn gefi upp réttar upplýsingar. Það gerir kleift að greina notendur frá hver öðrum og senda réttar tilkynningar til viðeigandi notanda.
      <br><br>

      <i>Gögn</i>
      <br>
      Allar persónuupplýsingar og allt persónulegt efni er í eigu notandans sjálfs.
      Með því að samþykkja skilmálana veitir notandinn Happy Home Living leyfi til að nota gögnin fyrir virkni forritsins. Þetta leyfi gildir svo lengi sem aðgangurinn er til staðar.
      Öll gögn eru geymd í gagnagrunni sem endist aðeins í um það bil 1 mánuð. Þetta þýðir að þegar tíminn rennur út tapast öll gögn.
      <br><br>

      <i>Notkun forritsins</i>
      <br>
      Happy Home Living má aðeins nota í þeim tilgangi sem það er ætlað og ekki til annars.
      Ef notandi misnotar forritið getur það leitt til takmarkana eða eyðingar á aðgangi hans.
      Athugið: Þjónustan getur breyst með tímanum.
      <br><br>

      <i>Opinber framlög innan heimilis</i>
      <br>
      Allt efni sem notandi bætir við, til dæmis í verkefnalista, verður sýnilegt öllum notendum. Allt efni sem er sett inn í forritið verður einnig eytt þegar aðgangi er eytt.
      Notandi getur eytt aðgangi sínum hvenær sem er. Þegar aðgangi er eytt, eyðast einnig allar persónuupplýsingar, allt efni og öll framlög sem tengjast aðganginum.
      <br><br>

      <i>Takmarkanir og ábyrgð</i>
      <br>
      Happy Home Living er veitt „eins og það er“, þar sem forritið er enn í þróun. Engin trygging er veitt fyrir aðgengi eða varðveislu gagna. Þróunaraðili Happy Home Living upplýsir einnig notendur um að öll gögn geti tapast ef þjónninn er endurræstur.
      <br><br>

      <i>Breytingar á skilmálum</i>
      <br>
      Skilmálar geta breyst með tímanum og hver notandi þarf að samþykkja nýja skilmála til að halda áfram að nota Happy Home Living.
      <br><br>

      <i>Samþykki</i>
      <br>
      Allir notendur verða að samþykkja skilmálana áður en þeir geta notað Happy Home Living. Þegar aðgangi er eytt getur notandi afturkallað samþykki sitt.
    </p>

    <h2>Persónuvernd</h2>

    <p>
      <i>Persónuverndarstefna fyrir Happy Home Living</i><br>
      Happy Home Living notar persónuupplýsingar þínar eingöngu fyrir innskráningu. Þetta á við um alla notendur forritsins. Happy Home Living er enn frumgerð og í þróun.
      <br><br>

      <i>Gögn</i>
      <br>
      Gögn sem safnað er eru aðeins persónulegt notandaauðkenni og lykilorð sem notandinn velur sjálfur. Þessar upplýsingar eru nauðsynlegar til að bera kennsl á notandann í kerfinu. Þannig fá aðeins meðlimir aðgang að forritinu. Forritið safnar ekki fleiri persónuupplýsingum en þessu og gögnin eru aðeins notuð til innskráningar, auðkenningar í forritinu og við eyðingu aðgangs. Með því að nota Happy Home Living samþykkir notandinn notkun þessara gagna.
      <br><br>

      <i>Hvernig gögn eru geymd</i>
      <br>
      Gögn eru geymd í sérstökum gagnagrunni með takmarkaðan líftíma. Þetta þýðir að öll gögn eru eytt þegar tími gagnagrunnsins rennur út. Engum gögnum er deilt með þriðja aðila.
      <br><br>

      <i>Takmarkanir og öryggi</i>
      <br>
      Öll gögn eru aðeins geymd tímabundið og þróunaraðili getur ekki tryggt að gögnin þín verði varðveitt til lengri tíma. Gögnin eru aðeins nauðsynleg fyrir áframhaldandi þróun frumgerðarinnar og grunnöryggi, en ekki á fullbúnu framleiðslustigi.
      <br><br>

      <i>Réttindi notenda</i>
      <br>
      Allir notendur hafa rétt til að vita hvaða gögn eru til staðar. Notandi getur einnig eytt aðgangi sínum hvenær sem er. Þá eyðast einnig öll gögn sem tengjast aðganginum. Allir notendur hafa rétt til að afturkalla samþykki sitt hvenær sem er með því að eyða aðganginum og hætta að nota forritið.
      <br><br>

      <i>Samþykki</i>
      <br>
      Allir notendur verða að samþykkja persónuverndarstefnuna áður en þeir geta notað Happy Home Living. Samþykki er veitt við stofnun aðgangs og hægt er að afturkalla það hvenær sem er með því að eyða aðganginum.
      <br><br>

      <i>Breytingar á persónuvernd</i><br>
      Athugið að persónuverndarstefnan getur breyst með tímanum. Ef breytingar verða þarf notandinn að samþykkja nýju stefnuna til að halda áfram að nota Happy Home Living.
    </p>
  </div>
</section>