<div class="app-header">
  <h1>Happy Home Living</h1>
</div>

<section class="tos-pp-page">
  <div id="tos-content">
    <h2>Vilkår for bruk</h2>

    <p>
      <i>Appen</i>
      <br>
      Happy Home Living er en app for mennesker som bor sammen. Det spiller ingen rolle om det er to eller flere som bor sammen. Appen passer for familier, venner, romkamerater, ektefeller og par. Formålet med appen er å gjøre hjemmet mer organisert ved å gi brukerne delt gjøremål, kalender/plan, handleliste og mulighet til å kommunisere uten å sende tekstmeldinger om småting. Man kan skrive små kommentarer til oppgaver med en kort forklaring eller gi beskjed om for eksempel forsinkelse fra jobb. På denne måten blir det enklere å organisere en bosituasjon, hjelpe hverandre og holde seg oppdatert.
      <br>Merk: Happy Home Living er fortsatt under utvikling og er kun en prototype.
      <br><br>

      <i>Brukere</i>
      <br>
      For å kunne bruke appen og dens funksjoner må hver bruker opprette sin egen brukerprofil. Dette gjør det mulig for brukere å koble seg til hverandre uten at alle automatisk havner i samme husholdning.
      Brukeren er selv ansvarlig for sin aktivitet i appen, hva de velger å poste og hvem de inviterer inn i husholdningen sin.
      Det er også viktig at brukeren oppgir korrekt informasjon. Dette gjør det mulig å skille brukerne fra hverandre og sende riktige varsler til den aktuelle brukeren.
      <br><br>

      <i>Data</i>
      <br>
      Alle personopplysninger og alt personlig innhold eies av brukerne selv.
      Ved å godta vilkårene gir brukeren Happy Home Living tillatelse til å bruke dataene til funksjonalitet i appen. Denne tillatelsen gjelder så lenge brukerkontoen eksisterer.
      All data lagres i en database som kun varer i ca 1 måned. Dette betyr at når tiden er ute for databasen, vil all data gå tapt.
      <br><br>

      <i>Bruk av appen</i>
      <br>
      Happy Home Living skal kun brukes til sitt tiltenkte formål og ikke til noe utover dette.
      Dersom en bruker misbruker appens formål, kan dette føre til begrensning eller sletting av brukerens konto.
      Merk: Tjenesten kan endre seg over tid.
      <br><br>

      <i>Offentlige bidrag i husholdningen</i>
      <br>
      Alt innhold som legges til av en bruker, for eksempel i gjøremålslisten, vil være synlig for alle brukere. Alt innhold som legges inn i appens funksjoner vil også bli slettet når en konto slettes.
      Brukeren kan slette kontoen sin når som helst. Når en konto slettes, slettes også alle personopplysninger, alt innhold og alle bidrag knyttet til kontoen.
      <br><br>

      <i>Begrensning og ansvar</i>
      <br>
      Happy Home Living leveres “som den er”, siden appen fortsatt er under utvikling. Det gis ingen garanti for tilgjengelighet eller lagring av data. Utvikleren av Happy Home Living informerer også brukerne om at all data kan gå tapt dersom serveren restartes.
      <br><br>

      <i>Endringer i vilkårene</i>
      <br>
      Vilkår og betingelser kan endre seg over tid, og hver bruker må godta de nye vilkårene for å kunne fortsette å bruke Happy Home Living.
      <br><br>

      <i>Samtykke</i>
      <br>
      Alle brukere må godta vilkårene før de kan bruke Happy Home Living. Når en konto slettes, kan brukeren trekke tilbake sitt samtykke.
    </p>

    <h2>Personvern</h2>

    <p>
      <i>Personvernerklæring for Happy Home Living</i><br>
      Happy Home Living bruker dine personopplysninger kun til innloggingsformål. Dette gjelder alle brukere av appen. Happy Home Living er foreløpig kun en prototype og er fortsatt under utvikling.
      <br><br>

      <i>Data</i>
      <br>
      Data som samles inn er kun en personlig bruker-ID og et personlig passord som brukeren velger selv. Denne informasjonen er nødvendig for å identifisere brukeren i systemet. På denne måten får bare medlemmer tilgang til appen. Appen samler ikke inn flere personopplysninger enn dette, og dataene brukes kun til innlogging, identifisering i appen og ved sletting av konto. Ved å bruke Happy Home Living godtar brukeren bruk av disse dataene.
      <br><br>

      <i>Hvordan data lagres</i>
      <br>
      Data lagres i en egen database med begrenset levetid. Dette betyr at all data blir slettet når databasens tid utløper. Ingen data deles med tredjeparter.
      <br><br>

      <i>Begrensning og sikkerhet</i>
      <br>
      All data lagres kun midlertidig, og utvikleren kan ikke garantere at dataene dine blir lagret over lengre tid. Dataene er kun nødvendige for videre utvikling av prototypen og for grunnleggende sikkerhet, men ikke på et fullverdig produksjonsnivå.
      <br><br>

      <i>Brukerrettigheter</i>
      <br>
      Alle brukere har rett til å vite hvilke data som er tilgjengelige. Brukeren kan også slette sin egen konto når som helst. All data knyttet til kontoen slettes da også. Alle brukere har rett til å trekke tilbake samtykket sitt når som helst ved å slette kontoen og slutte å bruke appen.
      <br><br>

      <i>Samtykke</i>
      <br>
      Alle brukere må samtykke til personvernerklæringen før de kan bruke Happy Home Living. Samtykke gis ved opprettelse av konto og kan trekkes tilbake når som helst ved å slette kontoen.
      <br><br>

      <i>Endringer i personvernet</i><br>
      Merk at personvernerklæringen kan endre seg over tid. Dersom det skjer endringer, må brukeren godta den nye personvernerklæringen for å kunne fortsette å bruke Happy Home Living.
    </p>
  </div>
</section>