<div class="app-header">
    <h1>Happy Home Living</h1>
</div>

<section class="tos-pp-page">
  <div id="tos-content">
    <h2>Terms of Service</h2>

    <p>
      <i>The app</i>
      <br>
      Happy Home Living is an app for people who live together. It does not matter if it is only 2 people living together or more. This app is suitable for families, friends, roommates, spouses or couples. The purpose of this app is to make your home organized by being able to have a shared to do list, calendar/schedule, shopping list and being able to communicate without sending text messages about small matters. You can write small comments on a task with a small explanation or giving your roommate a heads up about being late from work. This way, it is easier to organize a living situation and help each other out and always stay up to date. 
      <br>Disclaimer: The Happy Home Living app is still under development and is only a prototype.
      <br><br>

      <i>Users</i>
      <br>
      To use this app and its potential, every user must make their own user profile. This is to make it possible for users to connect to each other. 
      The user is responsible for their own activity on the app and what they choose to post. 
      It is also important that the user give the correct information needed. This is to be able to distinguish between the users and being able to send correct notifications to the user it is concerned with. 
      <br><br>

      <i>Data</i>
      <br>
      All personal data and all personal content are owned by the users themselves. 
      By agreeing to the Terms of Service, the user give permission to Happy Home Living to use their data for functionality within the app. This permission applies if the users account exists.  
      All data is saved on a database with limited time. This means that whenever the limited time runs out, all data will be lost. 
      <br><br>

      <i>Using the app</i>
      <br>
      Happy Home Living is only to be used for its intended purpose and not to anything beyond this. 
      If a user misuses the intended purpose for Happy Home Living, it may lead to restriction or deletion of the user’s account. 
      Disclaimer: The service may have some changes over time.
      <br><br>

      <i>Public contributions</i>
      <br>
      All content added by a user (for example something in the to do list) will be visible for every user in the app. All content added to any of the functions within the app will also be deleted when deleting an account.  
      Deleting an account
      The user may delete their account whenever it is wished for. When deleting an account, all personal data, content and contributions will be deleted with the account.
      <br><br>

      <i>Restriction and responsibility</i>
      <br>
      Happy Home Living is delivered “as is”, as it is still under development. There will be no guarantee of availability or data storage. The developer of Happy Home Living would also inform users that all data may be lost when the database time run out. 
      <br><br>  

      <i>Changes to the Terms</i>
      <br>
      Terms and Conditions may change over time, and each user must accept the new terms of service when they change to be able to continue to use Happy Home Living. 
      <br><br>  

     <i>Consent</i>
     <br>
     All users must accept Terms of Service before using Happy Home Living. When deleting of an account, users will be able to withdraw their consent.
    </p><br>

    <h2>Data Privacy Policy</h2>

    <p>
      <i>Happy Home Living privacy policy</i>
      <br>
      Happy Home Living uses your personal data for login purposes only. This applies to all users of the app. Happy Home Living is currently only a prototype and is under development. 
      <br><br>

      <i>Data</i>
      <br>
      Data collected will only be a personal “user-ID” and a personal password which the user choose themselves. The information is needed to identify the user in the system. The app will not collect any personal data beyond this, and the data will only be used for logging in and to identify you within the app and when deleting.  By using Happy Home Living, the user accepts the use of their data. 
      <br><br>  

      <i>How data is saved</i>
      <br>
      The data is only saved within the limited database. This means that all data will be deleted when the time limit comes to an end. No data is shared with any third party. 
      <br><br> 

      <i>Limitation and safety</i>
      <br>
      All data is saved only temporarily, and the developer can not guarantee for any of your data being saved for a longer period. The data is only needed for further development to the prototype and only needed for basic safety but not fully on a production level.
      <br><br>

      <i>User right</i>
      <br>
      All users have the right to know what data that is available. The user can also delete their own account whenever they like. All data will also be deleted with the account. All users are allowed to withdraw their consent at any time by deleting their account and to stop using the app whenever they feel like it. 
      <br><br>  

      <i>Consent</i>
      <br>
      All users must consent to the privacy policy before using Happy Home Living. Consent is given upon the account creation and can be withdrawn at any time by deleting the account. 
      <br><br>  

      <i>Changes in the privacy policy</i>
      <br>
      Note that the privacy policy may change over time. If any changes happen, the user must agree to the new privacy policy to be able to continue using Happy Home Living. 
    </p>
    <br><br><br>
  </div>
</section>