* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #d4d6dc; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #EDEFF3; 
  padding: 2rem;
  border-radius: 8px;
  width: 320px;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: #4E433F; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 0.9rem;
  color: #4E433F; 
}

input {
  padding: 0.5rem;
  border: 1px solid #796D64; 
  border-radius: 4px;
}

button {
  padding: 0.6rem;
  background-color: #5C815C; 
  color: #EDEFF3; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}


.create-user {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #5C815C; 
  text-decoration: none;
  font-size: 0.9rem;
}

.create-user-container {
  background-color: #EDEFF3;
  width: 320px;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 8px;

  display: flex;
  align-items: center;
}

.create-user-btn {
  margin-left: auto; 
  background: #5C815C;
  border: none;
  color: #EDEFF3;
  font-size: 0.9rem;
  cursor: pointer;
}

.terms {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
  cursor: pointer;
}

.terms span {
  color: #0062c4;
}

.terms span:hover {
  color: #359aff
}


.terms input {
    cursor: pointer;
}

.hidden { display: none !important; }

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.modal-content {
  width: min(700px, 92vw);
  height: min(70vh, 520px);
  background: #EDEFF3;
  border-radius: 10px;
  overflow: hidden;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  border-bottom: 1px solid #796D64;
}

.tos-frame {
  width: 100%;
  height: calc(100% - 52px);
  border: none;
  background: white;
}
