* {
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #d4d6dc; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  background-color: #EDEFF3; 
  padding: 2rem;
  border-radius: 8px;
  width: 320px;
}

h1 {
  margin-top: 0;
  text-align: center;
  color: #4E433F; 
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-size: 0.9rem;
  color: #4E433F; 
}

input {
  padding: 0.5rem;
  border: 1px solid #796D64; 
  border-radius: 4px;
}

button {
  padding: 0.6rem;
  background-color: #5C815C; 
  color: #EDEFF3; 
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}


.create-user {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  color: #5C815C; 
  text-decoration: none;
  font-size: 0.9rem;
}

.create-user-container {
  background-color: #EDEFF3;
  width: 320px;
  margin-top: 1rem;
  padding: 0.75rem 1rem;
  border-radius: 8px;

  display: flex;
  align-items: center;
}

.create-user-btn {
  margin-left: auto; 
  background: #5C815C;
  border: none;
  color: #EDEFF3;
  font-size: 0.9rem;
  cursor: pointer;
}

.terms {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 0.85rem;
  cursor: pointer;
}

.terms span {
  color: #0062c4;
}

.terms span:hover {
  color: #359aff
}


.terms input {
    cursor: pointer;
}